<html>
<head>
    <title>Forecasting Fantasy Football</title>
    <!-- href="/static/assets/style.css"-->
</head>
<body>
<h1>Week 1 Predictions</h1>
<table>
    <tr id="row">
        <th>Name</th>
        <th>Team</th>
        <th>Opponent</th>
        <th>Venue</th>
        <th>Global Prior</th>
        <th>Team Prior</th>
        <th>Position Prior</th>
        <th>Linear Model</th>
        <th>XGBoost</th>
        <th>Mean Model</th>
    </tr>
    {% for pred in preds %}
    <tr class="datas">
        <td>{{ pred["web_name"] }}</td>
        <td>{{ pred["name_x"] }}</td>
        <td>{{ pred["name_y"] }}</td>
        <td>{{ "Home" if pred["is_home"] else "Away" }}</td>
        <td>{{ pred["bayes_global_prior"] }}</td>
        <td>{{ pred["bayes_team_prior"] }}</td>
        <td>{{ pred["bayes_position_prior"] }}</td>
        <td>{{ pred["linear"] }}</td>
        <td>{{ pred["xgb"] }}</td>
        <td>{{ pred["mean_model"] }}</td>
    </tr>
    {% endfor %}
</table>
</body>
</html>
