<html>
<head>
    <link
            href="http://cdn.pydata.org/bokeh/release/bokeh-0.12.5.min.css"
            rel="stylesheet" type="text/css">
    <link
            href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.5.min.css"
            rel="stylesheet" type="text/css">

    <script src="http://cdn.pydata.org/bokeh/release/bokeh-0.12.5.min.js"></script>
    <script src="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.5.min.js"></script>

</head>
<body>
<H1>Validation Performance</H1>

{{ script|safe }}
{{ div|safe }}

</body>
</html>
